@media screen and (min-width: 1024px) {

    .project-info {
        position: absolute;
        bottom: 0;
    }

    .project-item img {
        border-radius: 15px;
    }

    .mobile-button {
        display: none;
    }
}